<div class="">
  <h2 class="text-center text-info ">{{title}}</h2>

<!--  <div *ngIf="photos" class="row mx-4 ">-->
<!--    <div class="col-md-3 mb-3" *ngFor="let photo of photos">-->
<!--      <div class="card" >-->
<!--        <img src="{{photo.url}}" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">ID: {{photo.id}}</h5>-->
<!--          <p class="card-text">Title: {{photo.title}}</p>-->
<!--          <a  routerLink="/photos/{{photo.id}}"  class="btn btn-primary w-100 mb-1">info</a>-->
<!--  &lt;!&ndash;        <a  [routerLink]="['/photos',photo.id]"  class="btn btn-primary w-100">test</a>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--justify-content-end-->
