
<!--Routes-->
<!--&lt;!&ndash;<app-home></app-home>&ndash;&gt;-->
<app-contact-form></app-contact-form>
<app-navbar></app-navbar>

<app-sidebar></app-sidebar>

<!--<app-footer></app-footer>-->

<router-outlet></router-outlet>

<!--<app-not-found></app-not-found>-->

<!--Routes-->
<!--<app-http></app-http>-->


<!-- <app-photo></app-photo>-->

<!--Reactive Forms-->
 <signup-form></signup-form>

<!-- <new-course-form></new-course-form>-->
<!--Template-driven Forms-->
<!-- <app-contact-form></app-contact-form>-->


<!--<h1 class="bg-info text-center">{{title}}</h1>-->

